@import "~bulma/sass/utilities/_all";

/**
 * all code that should change default bulma styles goes here
 */

$app-bg-color:#293435 !default;
$navbar-background-color: $app-bg-color;

@import "~bulma";
@import "~buefy/src/scss/buefy";

/**
 * rest code
 */
html {background-color:$app-bg-color;}
body {
  background-color:$app-bg-color;
  color:#e6e6e6;

  > .section{
    padding:0;
  }
}
