
$lockFall2017GreenTag-name: 'lockFall2017GreenTag';
$lockFall2017GreenTag-x: 0px;
$lockFall2017GreenTag-y: 0px;
$lockFall2017GreenTag-offset-x: 0px;
$lockFall2017GreenTag-offset-y: 0px;
$lockFall2017GreenTag-width: 31px;
$lockFall2017GreenTag-height: 45px;
$lockFall2017GreenTag-total-width: 101px;
$lockFall2017GreenTag-total-height: 45px;
$lockFall2017GreenTag-image: './generated/ship-locks.png';
$lockFall2017GreenTag: (0px, 0px, 0px, 0px, 31px, 45px, 101px, 45px, './generated/ship-locks.png', 'lockFall2017GreenTag', );

$lockFall2017GreyTag-name: 'lockFall2017GreyTag';
$lockFall2017GreyTag-x: 35px;
$lockFall2017GreyTag-y: 0px;
$lockFall2017GreyTag-offset-x: -35px;
$lockFall2017GreyTag-offset-y: 0px;
$lockFall2017GreyTag-width: 31px;
$lockFall2017GreyTag-height: 45px;
$lockFall2017GreyTag-total-width: 101px;
$lockFall2017GreyTag-total-height: 45px;
$lockFall2017GreyTag-image: './generated/ship-locks.png';
$lockFall2017GreyTag: (35px, 0px, -35px, 0px, 31px, 45px, 101px, 45px, './generated/ship-locks.png', 'lockFall2017GreyTag', );

$lockFall2017YellowTag-name: 'lockFall2017YellowTag';
$lockFall2017YellowTag-x: 70px;
$lockFall2017YellowTag-y: 0px;
$lockFall2017YellowTag-offset-x: -70px;
$lockFall2017YellowTag-offset-y: 0px;
$lockFall2017YellowTag-width: 31px;
$lockFall2017YellowTag-height: 45px;
$lockFall2017YellowTag-total-width: 101px;
$lockFall2017YellowTag-total-height: 45px;
$lockFall2017YellowTag-image: './generated/ship-locks.png';
$lockFall2017YellowTag: (70px, 0px, -70px, 0px, 31px, 45px, 101px, 45px, './generated/ship-locks.png', 'lockFall2017YellowTag', );

$spritesheet-width: 101px;
$spritesheet-height: 45px;
$spritesheet-image: './ship-locks.png';
$spritesheet-sprites: ($lockFall2017GreenTag, $lockFall2017GreyTag, $lockFall2017YellowTag, );
$spritesheet: (101px, 45px, './generated/ship-locks.png', $spritesheet-sprites, );

    
@mixin sprite-width($sprite) {
    width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
    height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
@include sprite-image($sprite);
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}

@mixin sprites($sprites) {
@each $sprite in $sprites {
        $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
        @include sprite($sprite);
        }
    }
}
